.clstitulo {
    background-color: #334d6e;
    color           : #fff;
    text-align      : center;
    border-radius   : calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    height          : 3rem;
    padding-top     : 0.5rem
}

@media (min-width: 700px) {
    .selectResp {
        bottom: 0.75rem;
    }

    .pb-1 {
        padding-bottom: 1rem !important;
    }
}

.selectMat {
    display: initial;
}

.sales-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Contenido que se va a scrollear */
.scroll-content {
  overflow-y: auto;
  padding-right: 10px; /* evita que tape el scrollbar */
  max-height: calc(100vh - 80px); /* deja espacio para botones */
}

/* Botones siempre visibles */
.footer-buttons {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 12px 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  z-index: 10;
}