<div class="form-box body-login">
    <div class="header-text">
        Login
    </div>
    <form (ngSubmit)="fnLogin()">
        <input placeholder="Usuario" type="text" [(ngModel)]="credentials.usuario" name="usuario">

        <input placeholder="Contraseña" type="password" [(ngModel)]="credentials.contrasena" name="contrasena">

        <button mat-raised-button color="primary" type="submit">Ingresar</button>
        <button mat-raised-button color="accent" type="button" (click)="irACrearCuenta()">Crear cuenta</button>
    </form>

</div>