table {
    width: 100%;
}

.header-app {
    text-align: center;
    margin-top: 1rem;
}

h1 {
    margin-bottom: 0px;
}

.example-container {
    /*height: 38rem;*/
    width   : 100%;
    overflow: auto;
}

.clsColumnaNombre {
    width: 20%;
}

.clsColumnaDescripcion {
    width: 35%;
}

.clsColumnaStock {
    width: 15%;
}

.clsColumnaAccion {
    width: 20%;
}