<div class="nav-container-general">
  <!-- Título -->
  <div class="header-app">
    <h1 style="font-weight: bold;">{{ appName }}</h1>
  </div>

  <!-- Botón flotante -->
  <div class="fab-container">
    <button
      matTooltipPosition="left"
      mat-raised-button
      mat-mini-fab
      class="fab-secondary"
      color="primary"
      matTooltip="Agregar Distribuidor"
      (click)="fnFormModal(0, 0)"
    >
      <span class="material-icons">add</span>
    </button>
  </div>

  <!-- Filtro -->
  <div class="form row">
    <div class="col-md-10">
      <mat-form-field appearance="standard" style="width: 80%;">
        <mat-label>Buscar Cliente</mat-label>
        <input matInput (keyup)="applyFilter($event)" [formControl]="txtFiltro" #input />
        <button
          style="outline: none;"
          *ngIf="txtFiltro.value"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="fnClearFilter()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <!-- Tabla -->
  <div id="listaMobile" class="mat-elevation-z8">
    <div class="example-container">
      <table mat-table [dataSource]="dataSource" matSort style="width: 100%;" aria-describedby="TablaProducto">

        <!-- Nombre -->
        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombreCliente }}</td>
        </ng-container>

        <!-- producto -->
        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto consignado</th>
          <td mat-cell *matCellDef="let element">{{ element.producto?.nombre }}</td>
        </ng-container>

        <!-- Cantidad Consignación -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
          <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
        </ng-container>

        <!-- Precio -->
        <ng-container matColumnDef="precioUsado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
          <td mat-cell *matCellDef="let element">{{ element.precioUsado | currency:'COP':'symbol' }}</td>
        </ng-container>

        <!-- FECHA -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha registro</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha | date:'dd/MM/yyyy' }}</td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="Editar Venta" (click)="fnFormModal(1, element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button color="warn" mat-icon-button matTooltip="Eliminar Venta" (click)="fnEliminarVenta(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
